.app__search-container{
    border:1px solid grey;
    padding: 10px;
    border-radius: 5px;
    display:flex;
    margin-bottom: 10px;
    justify-content: space-between;
    gap:20px;
}

.search-img{
    width:200px;
    height:200px;
    object-fit: cover;
}

.search-details{
    display:flex;
    flex-direction: column;
    gap:10px;
    flex:2;
}

.search-title{
    font-size:20px;
    font-weight:bold;
    color:#0071c2;
}

.search-distance{
    font-size:14px;
    color:grey;
}

.search-taxi{
    font-size:14px;
    color:white;
    background:rgb(93, 245, 93);
    width:max-content;
    padding:3px;
    border-radius: 5px;
}

.search-subtitle{
    font-size:14px;
    font-weight: bold;
}

.search-features{
    font-size:14px;
}

.search-cancel{
    font-size:14px;
    color:red;
    cursor:pointer;
    font-weight: bold;
}

.search-cancel_subtitle{
    font-size:14px;
    color:#0071c2;
}
.search-price{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.rate{
    font-weight:500;
}

.pricing{
    display:flex;
    flex-direction: column;
    gap:8px;
}

.price{
    font-weight:bold;
    font-size:24px;
}

.price-tax{
    font-size:12px;
    color:gray;
}

.avail-button{
    border:none;
    outline:none; 
    padding:10px 5px;
    background:#0071c2;
    color:white;
    border-radius: 5px;
    font-weight: bold;
    cursor:pointer;
}